.dp_back {
    background-color: #dce6e8;
}

.dp_gradient {
    background-image: linear-gradient(to right, rgba(220, 230, 232), rgba(206, 236, 236), rgba(173, 198, 198));
}

.dp_gradient2 {
    background-image: linear-gradient(to right, rgba(220, 230, 232), rgba(206, 236, 236), rgba(181, 207, 207));
}

.breadcrumb_gradient {
    background-image: linear-gradient(to bottom right,rgba(255, 236, 228, 0.9), rgba(255, 237, 228, 0.9));
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header_height {
    height: 1px;
}

.mitr-regular {
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mitr-bigger {
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.radio-group .form-check {
  padding-left: 0;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.dash_back {
    background-color: #dce6e8;
}

.home_back {
    background-color: #f1fbff;
}

.ag-theme-balhalm.ag-theme-new-products {
    --ag-font-size: 11px !important;
    --ag-font-family: "Mitr", sans-serif !important;
}
